

nav{
    display: flex;
    background-color: #FFD900;
}

nav div{
    margin: 3rem 4rem 3rem;
}

.logo{
    width: 100%;
}

.sec1{
    display: flex;
}

.sec1Texto{
    background-color: #514988;
    text-align: center;
    width: 50%;
    height: 41rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.titulo{
    color: #FFD900;
    font-size: 5rem;
    padding-top: 2rem;
}
.subTitulo{
    color: #FFFFFF;
    font-size: 3rem;
}
.paragrafo{
    font-size: 2rem;
    display: flex;
    align-items: center;
    text-align: center;
    margin: 4rem 5rem;
    color: #FFFFFF;
}


.sec1Video{
    display: grid;
    grid-auto-flow: row;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
.countdown{
    display: grid;
    grid-auto-flow: column;
    font-weight: 700;
    font-size: 4rem;
    align-items: center;
    text-align: center;
    color: #514988;
    margin-left: 3rem;
}
section div h2{

    font-size: 2.3rem;
    align-items: center;
    text-align: center;
    color: #E33881;
    margin-left: 4rem;
}

.video{
    padding-left: 1rem;
    align-items: center;
}
.video1{
    width: 60rem;
}
.sec2{
    display: flex;
}
.secIngresso{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 50%;
    
}
.tituloIngresso{
    font-size: 2.5rem;
    font-weight: 700;
    align-items: center;
    text-align: center;
    color: #F3C61F;
}
.secButton{
    width: 50%;
    margin-left: -4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button{
    text-align: center;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 3rem;
    background-color: #514988;
    border-radius: 2rem;
    width: 42rem;
    height: 10rem;
}


.button:hover {
    cursor: pointer;
    background-color: #FFD900;
    color: #514988;
}